<div id="article">

  <div class="post">
    <h2>
      <span class="published_on"><%= @post.published_on.strftime("%d %B %Y") %></span><br />
      <span class="title"><%= @post.title %></span>
    </h2>
    <%= @post.to_html %>
  </div>
  
  <div id="comments">
    
    <h2>Comments on this entry</h2>
    
    <%= Disqus::Widget.thread %>

  </div><!-- /comments -->
</div><!-- /article -->
